<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/main.css">
    <title></title>
</head>
<body>
    <h1>Welcome!!</h1>
    <p>Use this form to submit a search request</p>
    <br>
    <p>Enter a phrase and letters you want to search in that phrase. </p>
    <form action="search" method="POST">
        <table>
            <tr>
                <td>Phrase: </td>
                <td><input type="text" name="phrase"></td>
            </tr>
            <tr>
                <td>Letters: </td>
                <td><input type="text" name="letters"></td>
            </tr>
            </table>
    <p>When you are ready click on Search button</p>
    <p><input type="submit" value="Search"></p>
    </form>
    <footer>Arpit Pardesi | Staff ID: 59128</footer>
</body>
</html>