<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css2.css">
    <title>CRUD Application</title>
</head>
<body>
<h2>Welcome to Update Employee page</h2>

<form action="/updateEmployee">
<table>
    <tr>
        <td>Employee ID:</td>
        <td><input type="text" name="id" value="{{id}}" /></td>
    </tr>
    <tr>
        <td>Employee Name:</td>
        <td><input type="text" name="name" value="{{name}}" /></td>
    </tr>
    <tr>
        <td>Age:</td>
        <td><input type="text" name="age" value="{{age}}" /></td>
    </tr>
    <tr>
        <td>Designation:</td>
        <td><input type="text" name="designation" value="{{desig}}"/></td>
    </tr>

</table>

<p><input type="submit" value="Update"></p>
<p><input type="reset" value="Reset"></p>
</form>

</body>
</html>