<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css2.css">
    <title>Title</title>
</head>
<body>
<h2>Welcome to Add Employee page</h2>

<form action="/add_employee">
<table>
    <tr>
        <td>Employee ID:</td>
        <td><input type="text" name="id" /></td>
    </tr>
    <tr>
        <td>Employee Name:</td>
        <td><input type="text" name="name" /></td>
    </tr>
    <tr>
        <td>Age:</td>
        <td><input type="text" name="age" /></td>
    </tr>
    <tr>
        <td>Designation:</td>
        <td><input type="text" name="designation" /></td>
    </tr>

</table>

<p><input type="submit" value="Add"></p>
<p><input type="reset" value="Reset"></p>
</form>

</body>
</html>