<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css2.css">
    <title>Title</title>
</head>
<body>
<h2>Below is the List of All Employees </h2>

<table>
    <tr>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Designation</th>
    </tr>
{% for i in list %}
    <tr>
        <td>{{i[0]}}</td>
        <td>{{i[1]}}</td>
        <td>{{i[2]}}</td>
        <td>{{i[3]}}</td>
        <td><a href="/toUpdate?id={{i[0]}}&name={{i[1]}}&age={{i[2]}}&desig={{i[3]}}" method=post> Edit </a></td>
        <td><a href="/delete?id={{i[0]}}"  value = "{{i[0]}}}"> Delete </a></td>
{% endfor %}
    </tr>


</table>
<br>
<a href="/">Home Page</a>
<br>
<p></p>

</body>
</html>