<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css2.css">
    <title>Title</title>
</head>
<body>
<h2>Welcome to Search Train page</h2>

<form action="/search_train_SS" method="POST">
<table>
    <tr>
        <td>Starting Station:</td>
        <td><input type="text" name="startingStation" /></td>
    </tr>

</table>

<p><input type="submit" value="Search"></p>
<p><input type="reset" value="Reset"></p>
</form>
<br><br>
<a href="/">Home Page</a>
</body>
</html>