<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css2.css">
    <title>Title</title>
</head>
<body>
<h2>Welcome to Train Management Application !!</h2>
<p> Select the appropriate action </p>

<p><a href="/get_all_trains">View All Trains</a> </p>
<br><br>
<p><b>Search Trains</b></p>
    <p> <a href="/toSearchId">Search based on Train Id</a> </p>
    <p> <a href="/toSearchSS">Search based on Starting Station</a> </p>
    <p> <a href="/toSearchES">Search based on Ending Station</a> </p>


</form>

</body>
</html>