<html>
<head>
</head>
<body>
    <form action="Hello">
       <table>
           <tr>
               <td>Name:</td>
                <td><input type="text" name="userName"></td>
           </tr>
           <tr>
               <td>Company:</td>
               <td><input type="text" name="userComp"></td>
           </tr>
           <tr>
            <td>Year of Joining:</td>
            <td><input type="text" name="yoj"></td>
        </tr>
           <tr>
               <td></td>
               <td><input type="submit"></td>
           </tr>
       </table>       
    </form>
</body>
</html>